body{
    background-repeat: no-repeat center center fixed;
    background-size:contain;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    position:relative;
    overflow: hidden;
   background-color: rgba(0, 0, 0, 0.815);
  }

  
  li {
   
    float: left;
  }
  
  li a {
    display: block;
    color:yellow;
    background-color: #ff1361;
    font:bold;
    font-size: larger;
    text-align: center;
    padding: 14px 96px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:green
  }