body{
    background-repeat: no-repeat center center fixed;
    background-size:contain;

-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;

}
ul {
    list-style-type: none;
    margin: 0;
    padding: 20;
    position:relative;
    overflow: hidden;
   background-color: rgba(0, 0, 0, 0.815);
  }

  
  li {
   
    float: left;
  }
  
  li a {
    display: block;
    color:yellow;
    background-color: #ff1361;
    font:bold;
    font-size: larger;
    text-align: center;
    padding: 14px 96px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color:green
  }
  
 

img{
    width: 150px;
    height: 200px;
   
}
.container{
    margin: 1;
}

.animate-charcter
{
   text-transform:uppercase;
 
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-decoration-color:transparent ;
  /* text-fill-color: transparent; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 70px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

/* @import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap'); */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* 
body {
  background-color:  #151719;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
} */
.waviy {
  position: relative;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
  font-size: 40px;
}
.waviy span {
  font-family: 'Alfa Slab One', cursive;
  position: relative;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i));
  
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}
#div_img{
  border-radius: 20px;
}

.container1 {
    width: 175px;
    height: 223px;
  align-self: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    padding: 5px;   
    /* margin-right:100px
    ; */
    border-radius: 20px;
  }
  
  .gradient1 {
    background-color:transparent;
   padding-top: 10px;
    padding: 5px;
    color: black;  
  }